.gradient-background {
    background: linear-gradient(300deg, #0B0C10, #45A29E);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.top {
    height: 100vh;
  }

.hero-img{
    border-radius: 15px;
    width: 20rem;
  }

.text-white {
    color: white !important;
  }

  

  

  /* none */
  @media (max-width: 576px)  {
    .remove-border-sm {
      border-bottom: none !important;
    }

    .hero-img{
      width: 10rem;
    }

    .lead{
      font-size: smaller;
    }
  }

  /* small */
  @media (min-width: 576px) {

  }

    /* laptops */
    @media (min-width: 768px)  {
      #navbar{
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  
    /* desktops */
    @media (min-width: 1601px) {

    }


  /* animation */

/* 
@keyframes marioRight {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  @keyframes marioLeft {
    0% { transform: translateX(100%); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  #mario-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden; 
  }

  #mario {
    transform: translateX(-100%);
    animation: marioRight 10s infinite linear;
  }


  #mario.flip {
    animation: marioLeft 10s infinite linear;
  }

*/
